body
{
	font-family:Arial;
	font-size:14pt;
	background-color:white;
	color:black;
}

h1
{
	background-color:#0f71c0;
	color:white;
	font-weight:bold;
	font-size:30pt;
	padding:0.8em;
	margin: -0.2em -0.5em 0.5em -0.5em;
}

h1 tr {
    display: inline-block;
}

h1::after {
    content: '';
    display: inline-block;
    width: 100%;
}

#bgrnd
{
  background: url("Images/Sushi.jpg") no-repeat center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  height: 40em;
}

.loginBox
{
	padding:1% 1% 1%;
	font-family:Arial;
	font-size:14pt;
	color:#fff;
	background-color:#0f71c0;
	display:block;
	border-radius:5px 5px 5px 5px;
	float:right;
	margin-right:0.5%;
	width:25em;
	margin-top:-10%;
}

.blueContainer
{
	padding:1% 1% 1%;
	font-family:Arial;
	font-size:14pt;
	color:#fff;
	background-color:#0f71c0;
	display:block;
	border-radius:5px 5px 5px 5px;
	margin-right:0.5%;
	width:25em;
	margin-top:10%;
}


.Button1
{
	color:white;
	background-color:#FE7500;
	border-radius:5px;
	border:none;
	width:4.em;	
	Height:1.6em;
	font-size:2em;
}

.ButtonC
{
	color:white;
	background-color:#FE7500;
	border-radius:5px;
	border:none;
	width:4.em;
	
	Height:1.6em;
	font-size:2em;
}

h1{
	font-family:Arial;
	font-size:14pt;
	background-color:white;
	color:black;
}

.sShow {
        display:block;
        margin-left:auto;
        margin-right:auto;
        width:90%;
        height:120px;
}

.infoTable {
		width:100%;
}

