h1{
        background-color:#2E91E3;
        color:white;
        margin:-0.5em -0.3em 0em -0.5em;
        padding:-0.5em 0.5em 0em 0.5em;
}

.rsgc {width: 70%;
        height: 40%;
        border-radius: 20px;
        display:block;
        margin-left:auto;
        margin-right:auto;
}

.Button1
{
        cursor:pointer;
	color:white;
	background-color:#2E91E3;
	border-radius:5px;
	border:none;
	Height:1.6em;
	text-decoration:none;
	font-style:normal;
	font-size:24pt;
}

/*button {text-align: center;*/
/*        background: aliceblue;*/
/*        padding: 0.1px 0.1px;*/
/*        font-size:12px;*/
/*        font-style: oblique;*/
/*        font-family:arial;*/
/*        height:40px;*/
/*        width:120px;*/
/*        border-radius:5px;*/
/*}*/

/*button:hover {background-color:orange;*/
/*                cursor:pointer;}*/
        
body {
        font-family:arial;
        background-color:#FAEBC3;
}

.header {text-align:center;
        font-family:arial;
        width:100%;}

.search {width:200px;
}
.sButton {border-radius:25px;
        height:20px;
        
}
.searchField{
        margin-left:50%;
}

.pageCenter{
        margin-right:10%;
        margin-left:10%;
}
 

.head{
        background-color:#0f71c0;
        color:white;
        
}

fieldset {
        border-radius:20px;
}

.gSearch {
        text-align:center;
        font-weight:3px;
        font-family:arial;
}

.underline {
        display:block;
        margin-left:auto;
        margin-right:auto;
        width:40%;
        height:30px;
        
}

.sShow {
        display:block;
        margin-left:auto;
        margin-right:auto;
        width:90%;
        height:120px;
}

.rProfileImage{
        width:20em;
        height:20em;
}